.hide-content {
    .amount {
        @media (max-width: 767px) {
            filter: blur(4px);
        }
    }
    #statsWallet {
        .amount {
            @media (max-width: 767px) {
                filter: blur(4px);
            }
        }
    }
    #entries-table {
        .amount {
            @media (max-width: 767px) {
                filter: blur(4px);
            }
        }
    }
}

.fas span, .fas div, .fas p {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}